.section_padding{
  padding: 4rem 4rem;
}
.footer{
  background-image: url('./assets/bgi.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: inherit;
  color: white;
}
  .sb_footer-section_padding{
  display: flex;
  flex-direction: column;
}

.add-new-propert{
  display: flex;
  justify-content: space-between;
}
.add-new-propert button{
  border-radius: 0.6rem;
  width: 3rem;
  height: 1.5rem;
  margin-bottom: 2rem;
}


.sb_footer-links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb_footer-links_div{
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #98A2B3;
}
a{
  color: #EAECF0;
  text-decoration: none;
}
.sb_footer-links_div h4{
font-size: 14px;
line-height: 17px;
margin-bottom: 0.9rem;
}
.sb_footer-links_div p{
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
  }
.sb_footer-bellow-links{
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.sb_footer-copyright{
  display: flex;
  justify-content: space-around;
  background-color:aliceblue;

}
.sb_footer-copyright p{
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  color: #000000;
}

.sb_footer-bellow-links a{
  color: black;
  gap: 20px;
}
.sb_footer-bellow-links p{
font-size: 13px;
line-height: 15px;
margin-left: 2rem;
color: white;
font-weight: 600;
}

/* responsivness */

@media screen and (max-width:850px) {
  .sb_footer-heading h1{
    font-size: 44px;
    line-height: 50px;
  }
}
@media screen and (max-width:550px) {
  .sb_footer-heading h1{
    font-size: 34px;
    line-height: 42px;
  }
    .sb_footer-links_div{
      margin: 1rem;
    }
  
}